{% extends 'base.html' %}
{% block content %}

{% comment %} {{ object_list }} {% endcomment %}

{% for instance in object_list %}
        <p>{{ instance.id }} - <a href="{{ instance.get_absolute_url }}">{{ instance.title }}</a></p>
{% endfor %}

{% endblock %}